.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box {
  width: 31.78%;
  padding: 2rem;
  margin: 0.5rem;
  outline: 1px solid #ccc;
  border-radius: 8px;
}

.search-center {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}

.search {
  width: 100%;
}

.mat {
  width: 100%;
  text-align: center;
}

.mat-spinner {
  margin-top: 5rem;
}

input {
  width: 100%;
  margin: 0.5rem 0.5rem 1rem 0.5rem;
}
