<div class="main">
  <nav class="navbar cursor-pointer">
    <h2 routerLink="/">мобилка-нет</h2>
    <ul>
      <li routerLinkActive="active">
        <img
          style="width: 32px; height: 32px; margin-right: 1rem"
          [routerLink]="['/favourite']"
          src="./assets/images/favourite.png"
        />
      </li>
      <li routerLinkActive="active">
        <img
          style="width: 32px; height: 32px; margin-right: 1rem"
          [routerLink]="['/cart']"
          src="./assets/images/cart.png"
        />
      </li>
      <li routerLinkActive="active">
        <img
          style="width: 32px; height: 32px; margin-top: 0.05rem"
          [routerLink]="['/status']"
          src="./assets/images/box.png"
        />
      </li>
    </ul>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <footer class="footer">
    <ul>
      <li><a href="https://t.me/iromfire">Telegram</a></li>
      <li><a href="mailto:green.neh@gmail.com">Email</a></li>
      <li><a href="https://github.com/iromfire">Github</a></li>
    </ul>
  </footer>
</div>
