<div class="main">
  <nav class="navbar cursor-pointer">
    <h2 routerLink="/">мобилка-нет</h2>
    <ul>
      <li routerLinkActive="active">
        <a [routerLink]="['/favourite']">Избранное</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/cart']">Корзина</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/status']">Статус заказа</a>
      </li>
    </ul>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <footer class="footer">
    <ul>
      <li><a target="_blank" href="https://t.me/iromfire">Telegram</a></li>
      <li><a target="_blank" href="mailto:green.neh@gmail.com">Email</a></li>
      <li><a target="_blank" href="https://github.com/iromfire">Github</a></li>
    </ul>
  </footer>
</div>
