<div *ngIf="cartItems.length > 0; else empty" class="padding">
  <h2>Ваша корзина</h2>
  <button
    mat-flat-button
    color="primary"
    (click)="clearCart()"
    class="clear-cart"
  >
    Очистить корзину
  </button>
  <div class="cart-main">
    <div class="cart-container">
      <div
        *ngFor="let product of cartItems; let i = index"
        class="cart-product-container"
      >
        <div class="image-box">
          <img
            [src]="product.photo"
            alt="phone image"
            [routerLink]="['/product', product.id]"
            class="cursor-pointer"
          />
        </div>

        <div class="info-cont">
          <h3>{{ product.title }}</h3>
          <div class="price">Цена: {{ product.price }} ₽</div>
          <span>Количество: {{ product.count }}</span>
          <br />
          <div>
            <button
              mat-flat-button
              color="primary"
              (click)="incrementProduct(product)"
            >
              <div class="icon-center">
                <mat-icon>+</mat-icon>
              </div>
            </button>
            <button
              mat-flat-button
              color="primary"
              (click)="decrementProduct(product)"
            >
              <div class="icon-center">
                <mat-icon>–</mat-icon>
              </div>
            </button>
          </div>
          <div>
            <button
              class="delete"
              mat-flat-button
              color="warn"
              (click)="deleteFromCart(product)"
            >
              Удалить
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="total">
      <b>Итого: {{ totalPrice }} ₽</b>
      <button
        mat-flat-button
        color="primary"
        [routerLink]="['/delivery']"
        (click)="submit()"
      >
        Оформить
      </button>
    </div>
  </div>
</div>

<ng-template #empty>
  <h2>В корзине пока ничего нет</h2>
  <p>Начните с главной страницы, чтобы найти что-то конкретное</p>
  <button mat-flat-button color="primary" [routerLink]="['/']">
    Перейти на главную
  </button>
</ng-template>
