<div *ngIf="cartItems.length > 0; else empty" class="padding">
  <h2>Ваша корзина</h2>
  <button
    mat-flat-button
    color="primary"
    (click)="clearCart()"
    class="clear-cart"
  >
    Очистить корзину
  </button>
  <div class="cart-main">
    <div class="cart-container">
      <div *ngFor="let product of cartItems" class="cart-product-container">
        <div class="image-box">
          <img
            [src]="product.photo"
            alt="phone image"
            [routerLink]="['/product', product.id]"
            class="cursor-pointer"
          />
        </div>

        <div class="info-cont">
          <h3>{{ product.title }}</h3>
          <p [innerHTML]="product.info"></p>
          <div class="price">
            <b>Цена: {{ product.price }} ₽</b>
          </div>

          <div>
            <span style="margin-right: 1rem"
              >Количество: {{ product.count }}
            </span>
            <button
              style="background: whitesmoke; color: black"
              mat-flat-button
              color="primary"
              (click)="incrementProduct(product)"
            >
              <div>
                <mat-icon>&#11014;</mat-icon>
              </div>
            </button>
            <button
              style="background: whitesmoke; color: black"
              mat-flat-button
              color="primary"
              (click)="decrementProduct(product)"
            >
              <div>
                <mat-icon>&#11015;</mat-icon>
              </div>
            </button>
          </div>
          <div>
            <button
              style="margin-bottom: 1rem"
              class="delete"
              mat-flat-button
              color="warn"
              (click)="deleteFromCart(product)"
            >
              Удалить
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="total">
      <b>Итого: {{ totalPrice }} ₽</b>
      <button
        mat-flat-button
        color="primary"
        [routerLink]="['/delivery']"
        (click)="submit()"
      >
        Оформить
      </button>
    </div>
  </div>
</div>

<ng-template #empty>
  <h2>В корзине пока ничего нет</h2>
  <p>Начните с главной страницы, чтобы найти что-то конкретное</p>
  <button mat-flat-button color="primary" [routerLink]="['/']">
    Перейти на главную
  </button>
</ng-template>
