<div *ngIf="order">
  <h1>Заказ оформлен</h1>
  <h2>Сохраните номер заказа для дальнейшего отслеживания</h2>
  <div class="order-info">
    <div class="column-1">
      <p><b>Номер заказа:</b></p>
      <p>Дата заказа:</p>
      <p>Имя получателя:</p>
      <p>Номер телефона:</p>
      <p>Способ оплаты:</p>
      <br />
      <p>
        <b>Итого: {{ order.price }} ₽</b>
      </p>
    </div>
    <div class="column-2">
      <p>
        <b>{{ order.orderNumber }}</b>
      </p>
      <p>{{ order.date | date }}</p>
      <p>{{ order.name }}</p>
      <p>+7 {{ order.phone | mask : "(000) 000-00-00" }}</p>
      <p>{{ order.payment }}</p>
      <br />
      <br />
    </div>
  </div>
</div>
