.flex {
  display: flex;
  p {
    margin-bottom: 0.5rem;
  }
}

.item {
  display: block;
}

button {
  margin-top: 1rem;
  font-family: "SF UI Display", sans-serif;
  width: 140px;
}

h2 {
  margin-bottom: 0.5rem;
}

.product {
  margin-top: 2rem;
}

.image-box {
  display: flex;
  width: 300px;
  height: 400px;
  margin-right: 3rem;
  img {
    object-fit: contain;
  }
}
